{% extends 'story_time/base.html' %}

{% block body %}
  <h2 class="text-center">Fun Stories</h2>
  <div class="container">
    <a href="{% url 'story_time:story_one_form' %}">Be Kind</a><br>
    <a href="{% url 'story_time:story_two_form' %}">Sick Note</a><br>
    <a href="{% url 'story_time:story_war_form' %}">War</a><br>
    <a href="{% url 'story_time:story_dragons_form' %}">Dragons</a><br>
    <a href="{% url 'story_time:story_walmart_form' %}">The Walmart Difference</a><br>
    <a href="{% url 'story_time:story_love_letter_form' %}">Love Letter</a><br>
    <a href="{% url 'story_time:story_smelly_cat_form' %}">Smelly Cat</a><br>
    <a href="{% url 'story_time:story_greeting_earthlings_form' %}">Greeting Earthlings</a></a><br>
    <a href="{% url 'story_time:story_hail_to_the_chief_form' %}">Hail To The Chief</a></a><br>
    <a href="{% url 'story_time:story_holiday_festivities_form' %}">Holiday Festivities</a></a><br>
    <a href="{% url 'story_time:story_pizza_parlor_form' %}">Pizza Parlor</a></a><br>
    <a href="{% url 'story_time:story_cat_and_the_fiddle_form' %}">The Cat And The Fiddle</a></a><br>
    <a href="{% url 'story_time:story_baseball_form' %}">Baseball</a></a><br>
    <a href="{% url 'story_time:story_JJRTolkien_form' %}">J.J.R Tolkien</a></a><br>
    <a href="{% url 'story_time:story_jack_and_jill_form' %}">Jack And Jill</a></a><br>
    <hr/>
  </div>
{% endblock %}