{% extends 'story_time/base.html' %}

{% block body %}
<div class="container mt-3">
  <h3 class="text-center">Holiday Festivities</h3>
  <p class="text-center">On {{ item.month }} {{ item.number }} every year, we celebrate {{ item.holiday }}.
    All the {{ item.noun1 }} and {{ item.verb1 }} up in<br>
    {{ item.noun2 }} and {{ item.verb2 }}all over the {{ item.noun3 }}. Many people love to ear their favorite<br>
    {{ item.noun4 }} or {{ item.noun5 }} much to their {{ item.occupation }} dismay.
  </p>
</div>
{% endblock %}