{% extends 'story_time/base.html' %}

{% block body %}
<div class="container mt-3">
  <p class="text-center">Smelly {{ item.animal }}, smelly {{ item.animal }}<br>
    What are they {{ item.verb1 }} you?<br>
    Smelly {{ item.animal }}, smelly {{ item.animal }}<br>
    Its not your {{ item.noun1 }}<br><br>
    They won't {{ item.verb2 }} you to the {{ item.occupation }}.<br>
    You're obviously not their {{ item.adjective1 }} {{ item.animal2 }}.<br>
    You may not be a {{ item.noun2 }} of {{ item.noun3 }},<br>
    And your're no {{ item.relationship }} to those with {{ item.body_part }}.<br><br>
    Smelly {{ item.animal }}, smelly {{ item.animal }}<br>
    What are they {{ item.verb3 }}
    Smelly {{ item.animal }}, smelly {{ item.animal }}<br>
    It's not your {{ item.noun4 }}.
  </p>
</div>
{% endblock %}