{% extends 'story_time/base.html' %}

{% block body %}
<div class="container mt-3">
  <h3 class="text-center">Love Letter</h3>
  <p class="text-center">
    Dear {{ item.person }},<br><br>
    You are extremely {{ item.adjective1 }} and I {{ item.verb1 }} you! I want kiss your {{ item.part_of_the_body }}<br>
    times. You make my {{ item.noun1 }} burn with desire. When I first saw you, I<br>
    {{ item.adverb }} stared at you and fell in love. Will you {{ item.verb2 }} out with me? Don't<br>
    let your parents discourage yo, {{ item.pronoun1 }} are just jealous.<br><br>
    Yours forever, {{ item.person2 }}
  </p>
</div>
{% endblock %}