{% extends 'story_time/base.html' %}

{% block body %}
<div class="container mt-3">
  <h3 class="text-center">War</h3>
  <p class="text-center">It was during the battle of {{ item.noun1 }} when I was running through a {{ item.noun2 }}
    when a<br>
    {{ item.noun3 }} went off right next to my platoon. Out {{ item.occupation }} yelled for us to<br>
    {{ item.verb }} to the nearest {{ item.place }} we could find. When we gor to the {{ item.place }} we <br>
    {{ item.verb2 }} to start a fire. As we were starting the fire the enemy saw the {{ item.noun4 }}<br>
    from the fire and started {{ item.verb3 }} {{ item.noun5 }} at us. We all quickly ducked behind<br>
    the {{ item.noun6 }} at the {{ item.place }} and returned fire. We quickly eliminated the eneby and<br>
    were {{ item.emotion }} that we had won the battle.
  </p>
</div>
{% endblock %}