{% extends 'story_time/base.html' %}

{% block body %}
<div class="container mt-3">
  <p class="text-center">The president of the {{ item.place }} is elected every {{ item.time }} by a group of people
    called the<br>
    {{ item.adjective1 }} College. Each {{ item.noun1 }} casts votes in a preliminary hearing called a {{ item.noun2 }}<br>
    Throughout the campaign, the candidates participate in {{ item.noun3 }} and {{ item.noun4 }}.<br>
    Many people try to {{ item.verb1 }} the outcome using polls and statistics. In the end, only<br>
    one person is selected to {{ item.verb2 }} the country as {{ item.occupation }} in Chief.
  </p>
</div>
{% endblock %}