{% extends 'story_time/base.html' %}

{% block body %}
<div class="container mt-3">
  <h3 class="text-center">Pizza Parlor</h3>
  <h3 class="text-center">{{ item.male_name }} Pizza Parlor</h3>
  <p class="text-center">Come on over to {{ item.male_name }} Pizza Parlor where you can enjoy you favorite {{ item.adjective1 }}-<br>
    dish pizza`s. You can try our famous {{ item.noun1 }}-lovers pizza, or select from our<br>
    list of {{ item.adjective2 }} toppings, including sauteed {{ item.food }}, {{ item.noun2 }}, and many more. Our<br>
    crusts are hand-{{ item.verb1 }} and basted in {{ item.noun3 }} to make them seem more Mind-made.
  </p>
</div>
{% endblock %}