{% extends 'story_time/base.html' %}

{% block body %}
<div class="container mt-3">
  <h3 class="text-center">Walmart</h3>
  <p class="text-center">
    Come {{ item.verb1 }} at WALMART, where you'll receive {{ item.adjective1 }} discounts on all<br>
    of your favorite brand name {{ item.noun1 }}. Our {{ item.adjective2 }} and {{ item.verb2 }} associates are<br>
    there to {{ item.verb3 }} you {{ item.number }} hours a day. Here you will find {{ item.adjective3 }} prices<br>
    on the {{ item.noun2 }} you need. {{ item.noun3 }} for the mons, {{ item.noun4 }} for the kids and<br>
    all the latest electronics for the {{ item.relative }}. So come on down to your {{ item.adjective4 }}<br>
    {{ item.adjective5 }} WALMART where the {{ item.noun5 }} comes first.
  </p>
</div>
{% endblock %}