{% extends 'story_time/base.html' %}

{% block body %}
  <div class="text-center mt-3">
  <h3 class="text-center">Be Kind</h3>
  {{ storylist }}
    <p>Be kind to your {{ item.noun_one }}-footed {{ item.noun_two }}<br>
    For a duck may be somebody's {{ item.noun_three }}<br>
    Be kind to your {{ item.noun_two }} in {{ item.place }}<br>
    Where the weather is always {{ item.adjective }}<br><br>
    You may think that this is the {{ item.noun_four }}<br>
    Well it is.</p>
  </div>

{#<a href="{% url 'story_time:story_delete' %}" class=" full_button_margin btn btn-success">continue</a>#}
{% endblock %}