{% extends 'story_time/base.html' %}

{% block body %}
<div class="container mt-3">
  <p class="text-center">The {{ item.color }} Dragon is the {{ item.superlative }} Dragon of it all. It has
    {{ item.adjective1 }} {{ item.body_part }}, and a<br>
    {{ item.body_part2 }} shaped like a {{ item.noun1 }}. It loves to eat {{ item.animal }}, although it will feast on <br>
    nearly anything. It is {{ item.adjective2 }} and {{ item.adjective3 }}. You must be {{ item.adjective4 }} around it, or you<br>
    may end up as it's meal!
  </p>
</div>
{% endblock %}